* {
    margin: 0;
}

.grid {
    display: grid;
    grid-template-rows: 100px repeat(6, 645px) 100px;
    font-family: 'Inter', sans-serif;
}

.header {
    display: grid;
    grid-template-columns: 180px 48px 100px 1fr;
    align-items: center;
}

.header__logo {
    justify-self: end;
}

.header__logo img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.header__line {
    border: 2px solid #000000;
    transform: rotate(90deg);
    width: 48px;
    height: 0px;
}

.header__text {
    font-weight: 700;
    font-size: 13px;
}

.banner {
    display: grid;
    position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.banner img {
    object-fit: fill;
    width: 100%;
    height: 100%;
    position: absolute;
}

.banner__content {
    grid-row: 5;
    grid-column: 3/5;
    font-size: 64px;
    font-family: 'Cormorant';
    color: #FFFFFF;
    align-self: start;
    justify-self: start;
    position: absolute;
}

.company-info {
    display: grid;
    grid-template-rows: 140px 1fr 100px;
    grid-template-columns: 130px 244px 280px 1fr 130px;
    background: #F5F5F5;
}

.company-title {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 30px 100px;
}

.company-line {
    width: 180px;
    height: 0px;
    border: 2px solid #000000;
    align-self: start;
}

.company-text {
    font-weight: 700;
    font-size: 32px;
    align-self: start;
}

.company-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column: 4;
    grid-row: 2;
    font-weight: 600;
    text-align: center;
}

.company-content__item1 {
    border-bottom: 2px solid #000000;
    border-right: 2px solid #000000;
}

.company-content__item2 {
    border-bottom: 2px solid #000000;
}

.company-content__item3 {
    border-right: 2px solid #000000;
}

.item-number {
    font-size: 60px;
}

.item-text {
    font-size: 28px;
}

.location-images {
    display: grid;
    grid-template-rows: 26px 226px repeat(2, 2fr);
    grid-template-columns: 100px 237px 270px 70px 1fr 85px;
    gap: 35px;
}

.location-images__item1 {
    grid-row: 2;
    grid-column: 2/4;
}

.image1 img,
.image2 img,
.image3 img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}


.location-images__item2 {
    grid-row: 3;
    grid-column: 2;
}

.location-images__item3 {
    grid-row: 3;
    grid-column: 3;
}

.location-images__item4 {
    grid-row: 3;
    grid-column: 3;
}

.location-image-button {
    width: 270px;
    height: 51px;
    border: 2px solid #000000;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 40px;
    transform: translate(0px, 205px);
}

.location-image-button:hover {
    background-color: #FFD60A;
    cursor: pointer;
}

.location-images__item5 {
    display: grid;
    grid-row: 2/4;
    grid-column: 5;
}

.location-image-title {
    font-weight: 500;
    font-size: 26px;
    line-height: 29px;
    align-self: center;
    justify-self: center;
    text-align: center;
    max-width: 410px;
}

.location-image-content {
    font-weight: 400;
    font-size: 20px;
    justify-self: center;
    max-width: 405px;
    text-align: start;
}

.location-image-content-left-part {
    display: none;
}

.location-image-content-right-part {
    display: none;
}

.service-info {
    display: grid;
    grid-template-columns: 130px 1fr 130px;
    grid-template-rows: 165px 1fr 71px;
    text-align: center;
    align-items: center;
    background: #F5F5F5;
}

.service-info__title {
    grid-row: 1;
    grid-column: 2;
    font-weight: 600;
}

.title-first-row {
    font-size: 36px;
}

.title-second-row {
    font-size: 16px;
}

.service-info__list {
    grid-row: 2;
    grid-column: 2;
}

.service-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 85px;
}

.service-list__item {
    display: grid;
    grid-template-rows: 105px 28px 75px 64px 65px 24px 18px;
    background: rgba(217, 217, 217, 0.15);
    padding: 15px;
}

.service-icon {
    grid-row: 1;
    display: grid;
    align-items: center;
    justify-items: center;
    align-self: center;
    width: 68px;
    height: 68px;
    background: rgba(217, 217, 217, 0.4);
    border-radius: 35px;
}

.service-title {
    font-weight: 600;
    font-size: 17px;
    text-align: start;
}

.service-text {
    font-weight: 400;
    font-size: 13px;
    text-align: start;
    max-width: 265px;
}

.service-conditions {
    text-align: start;
    font-weight: 400;
    font-size: 13px;
    max-width: 269px;
}

.service-price {
    align-self: center;
    font-weight: 600;
    font-size: 15px;
}

.service-button {
    color: #FFD60A;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    background: rgba(217, 217, 217, 0.15);
    width: 134px;
    height: 24px;
    border: 1px solid #000000;
    border-radius: 5px;
    justify-self: center;
}

.service-button:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.extra-info {
    display: grid;
    grid-template-columns: 130px repeat(2, 1fr) 130px;
    grid-template-rows: 81px repeat(3, 1fr);
    row-gap: 35px;
}

.extra-info__image {
    grid-row: 2;
    grid-column: 2;
    justify-self: center;
}

.extra-info-image img {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.extra-info__left-part-content {
    grid-row: 3;
    grid-column: 2;
    max-width: 450px;
    font-weight: 400;
    justify-self: center;
    font-size: 14px;
}

.extra-info__right-part-content {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    z-index: 1;
    transform: translate(-80px);
    display: grid;
    align-items: center;
    max-width: 540px;
    height: 170px;
    background: #FFFFFF;
    padding-left: 30px;
}

.right-part-content {
    display: grid;
    grid-row: repeat(2, 1fr);
    row-gap: 14px;
}

.content-title {
    font-weight: 600;
    font-size: 20px;
}

.content {
    max-width: 430px;
    height: 32px;
    font-weight: 500;
    font-size: 13px;
}

.extra-info__right-part-content2 {
    grid-row: 3;
    grid-column: 3;
    font-weight: 400;
    font-size: 14px;
    max-width: 460px;
}

.contact-block {
    background: #F5F5F5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 175px 1fr 55px;
}

.contact-block__title {
    grid-column: 2;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 410px;
}

.contact-block-first-row {
    font-weight: 600;
    font-size: 32px;
}

.contact-block-second-row {
    font-weight: 500;
    font-size: 15px;
}

.contact-block__form {
    width: 480px;
    height: 370px;
    background: rgba(217, 217, 217, 0.15);
    grid-row: 2;
    grid-column: 2;
    align-self: start;
    padding: 25px;
    display: grid;
}

.form-title {
    font-weight: 500;
    font-size: 15px;
    height: 62px;
    text-align: start;
}

.contact-block__form div:nth-child(n+2):nth-last-child(n+2) {
    height: 42px;
    width: 360px;
    border-bottom: 1px solid #CDCDCD;
    justify-self: center;
    color: #CDCDCD;
}

.contact-block__form div:last-child {
    width: 240px;
    height: 24px;
    color: #FFD60A;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: center;
    justify-self: center;
    align-self: center;
}

.form-button:hover {
    cursor: pointer;
    background-color: darkgrey;
}

.contact-block__form input {
    border: none;
    height: inherit;
    width: inherit;
    background: inherit;
}

.contact-block__form input:focus {
    outline-style: none;
    border-bottom: 1px solid #000000;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 70px 130px;
    background: #FFFFFF;
    align-items: center;
    justify-items: end;
}

.footer__item1 {
    grid-column: 1;
}

.footer__item2 {
    grid-column: 2;
}

.footer a {
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    color: #000000;
}

@media (max-width: 1200px) {
    .grid {
        grid-template-rows: 94px repeat(6, 605px) 94px;
    }

    .header {
        grid-template-columns: 140px 48px 100px 1fr;
    }

    .banner__content {
        font-size: 56px;
    }

    .company-info {
        grid-template-columns: 90px 240px repeat(2, 1fr) 90px;
        grid-template-rows: 140px 1fr 90px;
    }

    .company-content {
        grid-template-columns: repeat(2, 260px);
    }

    .item-number {
        font-size: 50px;
    }

    .item-text {
        font-size: 22px;
    }

    .location-images {
        grid-template-columns: 70px 237px 270px 40px 1fr 65px;
        gap: 20px;
    }

    .location-image-title {
        font-size: 22px;
    }

    .location-image-content {
        font-size: 18px;
    }

    .service-info {
        grid-template-columns: 90px 1fr 90px;
    }

    .service-list {
        column-gap: 65px;
    }

    .extra-info {
        grid-template-columns: 90px repeat(2, 1fr) 90px;
    }

    .extra-info__right-part-content {
        transform: translate(-70px);
        height: 160px;
    }

    .footer {
        grid-template-columns: 1fr 70px 90px;
    }
}

@media (max-width: 1121px) {

    .extra-info__right-part-content {
        transform: translate(-60px);
        height: 150px;
    }
}

@media (max-width: 1080px) {

    .location-images {
        grid-template-columns: 70px 217px 250px 20px 1fr 65px;
    }

    .location-images__item1 {
        position: relative;
    }

    .image1 img {
        position: absolute;
    }

    .location-image-button {
        width: 250px;
        height: 35px;
        font-size: 12px;
        line-height: 30px;
        transform: translate(0px, 195px);
    }

    .location-image-title {
        font-size: 20px;
    }

    .location-image-content {
        font-size: 16px;
    }

    .service-title {
        font-size: 15px;
    }

    .service-text,
    .service-conditions {
        font-size: 10px;
    }

    .service-price {
        font-size: 12px;
    }

    .service-button {
        font-size: 9px;
        width: 100px;
        height: 20px;
    }

    .extra-info {
        column-gap: 10px;
    }

    .extra-info__left-part-content,
    .extra-info__right-part-content2 {
        font-size: 12px;
    }

    .extra-info__right-part-content {
        height: 130px;
    }

    .content-title {
        font-size: 17px;
    }

    .content {
        font-size: 11px;
    }

    .contact-block-first-row {
        font-size: 28px;
    }

    .contact-block-second-row {
        font-size: 14px;
    }

    .contact-block__form {
        width: 430px;
        height: 340px;
    }

    .form-title {
        font-size: 14px;
    }

    .contact-block__form div:last-child {
        font-size: 12px;
        line-height: 20px;
    }
}

@media (max-width: 992px) {

    .grid {
        grid-template-rows: 94px repeat(6, 580px) 94px;
    }

    .header__text {
        font-size: 12px;
    }

    .banner__content {
        grid-column: 2/5;
        justify-self: center;
    }

    .company-line {
        width: 150px;
    }

    .company-title {
        grid-template-rows: 20px 100px;
    }

    .company-text {
        font-size: 28px;
    }

    .company-content {
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(2, 160px);
    }

    .item-number {
        font-size: 42px;
    }

    .item-text {
        font-size: 16px;
    }

    .location-images {
        grid-template-columns: 70px 190px 235px 20px 1fr 65px;
    }

    .location-image-button {
        width: 235px;
        height: 25px;
        line-height: 24px;
        transform: translate(0px, 180px);
    }

    .footer a {
        font-size: 13px;
    }
}

@media (max-width: 904px) {

    .location-images {
        grid-template-columns: 70px 170px 215px 20px 1fr 65px;
    }

    .location-image-button {
        width: 210px;
        transform: translate(0px, 160px);
    }

    .location-image-title {
        font-size: 18px;
    }

    .location-image-content {
        font-size: 14px;
    }

    .service-list {
        column-gap: 35px;
    }

    .service-list__item {
        padding: 10px;
    }

    .title-first-row {
        font-size: 30px;
    }

    .title-second-row {
        font-size: 14px;
    }

    .extra-info__left-part-content,
    .extra-info__right-part-content2 {
        font-size: 10px;
    }

}

@media (max-width: 768px) {

    .grid {
        grid-template-rows: 54px 500px repeat(5, 604px) 54px;
    }

    .banner__content {
        font-size: 48px;
    }

    .company-info {
        grid-template-columns: 60px 240px repeat(2, 1fr) 60px;
    }

    .company-title {
        grid-template-rows: 20px 100px;
    }

    .company-text {
        font-size: 28px;
    }

    .company-content {
        grid-template-columns: repeat(2, 180px);
        grid-template-rows: repeat(2, 120px);
    }

    .item-number {
        font-size: 38px;
    }

    .item-text {
        font-size: 14px;
    }

    .location-images {
        grid-template-columns: 50px 150px 190px 5px 1fr 35px;
    }

    .location-image-button {
        width: 185px;
        transform: translate(0px, 140px);
    }

    .location-image-title {
        font-size: 16px;
    }

    .location-image-content {
        font-size: 12px;
    }

    .service-info {
        grid-template-columns: 60px 1fr 60px;
        grid-template-rows: 100px 1fr 21px;
    }

    .service-list__item {
        grid-template-rows: 50px 40px 75px 50px 45px 24px 14px;
    }

    .service-icon {
        width: 48px;
        height: 48px;
    }

    .service-title {
        font-size: 14px;
    }

    .service-text {
        font-size: 9px;
    }

    .service-conditions ul {
        padding-inline-start: 15px;
        font-size: 8px;
    }

    .extra-info {
        grid-template-columns: 60px repeat(2, 1fr) 60px;
        grid-template-rows: 61px repeat(3, 1fr);
        row-gap: 20px;
    }

    .extra-info__right-part-content {
        transform: translate(-50px);
        padding-left: 20px;
    }

    .content-title {
        font-size: 15px;
    }

    .content {
        font-size: 10px;
    }

    .contact-block {
        grid-template-rows: 140px 1fr 55px;
    }

    .contact-block-first-row {
        font-size: 22px;
    }

    .contact-block-second-row {
        font-size: 12px;
    }

    .contact-block__form {
        width: 380px;
        height: 290px;
        padding: 25px 25px 10px 25px;
    }

    .form-title {
        font-size: 12px;
        height: 42px;
    }

    .contact-block__form div:nth-child(n+2):nth-last-child(n+2) {
        height: 34px;
        width: 320px;
    }

    .contact-block__form div:last-child {
        width: 170px;
        height: 18px;
    }

    .footer {
        grid-template-columns: 1fr 70px 60px;
    }
}

@media (max-width: 740px) {

    .grid {
        grid-template-rows: 54px 490px repeat(5, 570px) 54px;
    }

    .header__text {
        font-size: 10px;
    }

    .company-info {
        grid-template-rows: 60px 140px 1fr;
        grid-template-columns: 37px 220px 1fr;
    }

    .company-content {
        display: grid;
        grid-template-rows: repeat(4, 60px);
        grid-template-columns: 1fr;
        grid-column: 2/4;
        grid-row: 3;
    }

    .company-content__item1 {
        grid-row: 1;
        display: grid;
        grid-template-columns: 210px minmax(240px, 260px);
        border-bottom: none;
        border-right: none;
    }

    .company-content__item2 {
        grid-row: 2;
        display: grid;
        grid-template-columns: 210px minmax(240px, 260px);
        border-bottom: none;
    }

    .company-content__item3 {
        grid-row: 3;
        display: grid;
        grid-template-columns: 210px minmax(240px, 260px);
        border-right: none;
    }

    .company-content__item4 {
        grid-row: 4;
        display: grid;
        grid-template-columns: 210px minmax(240px, 260px);
    }

    .item-number {
        grid-column: 1;
        border-right: 2px solid #000000;
        justify-self: end;
        padding-right: 20px;
    }

    .item-text {
        grid-column: 2;
        text-align: start;
        padding-left: 10px;
        align-self: center;
    }

    .location-images {
        column-gap: 10px;
    }

    .service-list {
        column-gap: 25px;
    }
}

@media (max-width: 680px) {
    .grid {
        grid-template-rows: 54px repeat(6, 540px) 54px;
    }

    .location-image-title {
        font-size: 14px;
    }

    .location-image-content {
        font-size: 10px;
        text-align: center;
    }

    .extra-info {
        grid-template-rows: 100px repeat(3, 1fr);
    }

    .extra-info__right-part-content {
        height: 100px;
    }

    .contact-block__title {
        width: 330px;
    }

    .contact-block__form {
        width: 320px;
        height: 290px;
        padding: 30px 30px 10px 30px;
    }
}

@media (max-width: 570px) {
    .grid {
        grid-template-rows: 54px 415px 594px 639px repeat(3, 415px) 54px;
    }

    .banner__content {
        font-size: 42px;
    }

    .location-images {
        grid-template-rows: 35px 161px repeat(3, 1fr);
        grid-template-columns: 42px 1fr 211px 42px;
        gap: 15px;
    }

    .location-image-button {
        width: 200px;
        transform: translate(0px, 160px);
    }

    .location-images__item5 {
        grid-row: 4;
        grid-column: 2/4;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }

    .location-image-content {
        display: none;
    }

    .location-image-title {
        font-size: 15px;
        grid-column: 1/3;
    }

    .location-image-content-left-part {
        display: block;
        grid-column: 1;
        font-size: 10px;
    }

    .location-image-content-right-part {
        display: block;
        grid-column: 2;
        font-size: 10px;
    }

    .service-info {
        grid-template-columns: 60px 1fr 60px;
        grid-template-rows: 90px 1fr 10px;
    }

    .title-first-row {
        font-size: 26px;
    }

    .service-list {
        column-gap: 15px;
    }

    .service-list__item {
        grid-template-rows: 60px 40px 75px 64px 30px 24px 0px;
    }

    .service-title {
        font-size: 12px;
    }

    .service-text {
        font-size: 8px;
    }

    .service-conditions ul {
        padding-inline-start: 10px;
    }

    .service-price {
        font-size: 10px;
    }

    .service-button {
        font-size: 8px;
        width: 80px;
        height: 17px;
    }

    .extra-info__right-part-content {
        transform: translate(-40px);
        padding-left: 15px;
        height: 80px;
    }

    .right-part-content {
        row-gap: 9px;
    }

    .content-title {
        font-size: 12px;
    }

    .content {
        font-size: 8px;
    }

    .contact-block {
        grid-template-rows: 80px 1fr 20px;
    }

    .contact-block-first-row {
        font-size: 18px;
    }

    .contact-block-second-row {
        font-size: 10px;
    }

    .contact-block__form {
        width: 280px;
        height: 270px;
        padding: 20px 20px 10px 20px;
    }

    .contact-block__form input {
        font-size: 12px;
    }

    .contact-block__form div:nth-child(n+2):nth-last-child(n+2) {
        height: 34px;
        width: 280px;
    }

    .footer {
        font-size: 10px;
    }
}

@media (max-width: 500px) {
    .service-text {
        display: none;
    }
}

@media (max-width: 480px) {
    .grid {
        grid-template-rows: 44px 240px 450px 600px repeat(3, 380px) 44px;
    }

    .header {
        grid-template-columns: 100px 38px 100px 1fr;
    }

    .header__logo {
        width: 59px;
        height: 20px;
        position: relative;
    }

    .header__logo img {
        object-fit: fill;
        position: absolute;
    }

    .header__line {
        width: 28px;
    }

    .banner__content {
        font-size: 32px;
    }

    .company-info {
        grid-template-rows: 60px 110px 1fr;
        grid-template-columns: 32px 180px 1fr;
    }

    .company-text {
        font-size: 22px;
    }

    .company-content {
        grid-template-rows: repeat(4, 50px);
    }

    .company-content__item1,
    .company-content__item2,
    .company-content__item3,
    .company-content__item4 {
        grid-template-columns: 170px minmax(150px, 220px);
    }

    .item-number {
        font-size: 32px;
        padding-right: 10px;
    }

    .item-text {
        font-size: 12px;
        padding-left: 7px;
    }

    .location-images {
        grid-template-rows: 35px 161px repeat(3, 1fr);
        grid-template-columns: 27px repeat(2, 1fr) 27px;
    }

    .location-image-button {
        font-size: 10px;
        line-height: 16px;
        height: 20px;
        transform: translate(0px, 155px);
    }

    .location-images__item5 {
        column-gap: 5px;
    }

    .location-image-content-left-part,
    .location-image-content-right-part {
        font-size: 9px;
    }

    .service-info {
        grid-template-columns: 32px 1fr 32px;
    }

    .title-first-row {
        font-size: 20px;
    }

    .title-second-row {
        font-size: 12px;
    }

    .service-list__item {
        grid-template-rows: 60px 40px 64px 30px 24px 0px;
    }

    .extra-info {
        grid-template-columns: 22px repeat(2, 1fr) 22px;
        grid-template-rows: 70px repeat(3, 1fr);
    }

    .contact-block {
        grid-template-columns: 32px 1fr 32px;
    }

    .contact-block__form {
        width: 250px;
        justify-self: center;
    }

    .contact-block__form div:nth-child(n+2):nth-last-child(n+2) {
        width: 250px;
    }

    .footer {
        grid-template-columns: 1fr 70px 32px;
    }
}

@media (max-width: 460px) {
    .location-images__item2 img {
        min-height: 193px;
    }

    .service-info {
        grid-template-rows: 70px 1fr 10px;
    }

    .service-list__item {
        grid-template-rows: 40px 40px 104px 30px 24px;
    }

    .service-icon {
        width: 28px;
        height: 28px;
        border-radius: 6px;
        object-fit: contain;
        position: relative;
    }

    .service-icon img{
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .service-conditions ul {
        padding-inline-start: 7px;
    }

    .service-price {
        font-size: 8px;
    }

    .extra-info {
        column-gap: 0px;
        row-gap: 15px;
    }

    .extra-info__left-part-content {
        grid-row: 3;
        grid-column: 2/4;
        align-self: center;
    }

    .content-title {
        font-size: 10px;
    }

    .extra-info__right-part-content2 {
        grid-row: 4;
        grid-column: 2/4;
    }
    
}